body {
    font-size: 18px;
}

.navBar {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

.navBtn {
    background-color: hsl(0, 0%, 100%);
    border: none;
    color: hsl(233, 8%, 62%);
}

.button{
    color: white;
    padding: 1%;
    border-radius: 25px;
    border: none;
    background: linear-gradient(90deg, hsla(136, 65%, 51%, 1) 0%, hsla(192, 70%, 51%, 1) 100%);
}