body {
    font-size: 18px;
}

.navBar {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

.navBtn {
    background-color: hsl(0, 0%, 100%);
    border: none;
    color: hsl(233, 8%, 62%);
}

.navBtn:hover {
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, hsla(136, 65%, 51%, 1) 0%, hsla(192, 70%, 51%, 1) 100%) 10;
}

.middleBox1 {
    background-color: hsl(0, 0%, 98%);
}

.middleBox2 {
    background-color: hsl(220, 16%, 96%);
}

.articleRow {
    background-color: hsl(0, 0%, 98%);
}

.button {
    color: white;
    padding: 1%;
    border-radius: 25px;
    border: none;
    background: linear-gradient(90deg, hsla(136, 65%, 51%, 1) 0%, hsla(192, 70%, 51%, 1) 100%);
}

.footerBtn {
    border: none;
    background-color: hsl(233, 26%, 24%);
    color: white;
    padding: 1%;
}

.footerBtn:hover {
    color: hsl(136, 65%, 51%);
}

.footer {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.iconsAndLogo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text2{
    color: hsl(233, 8%, 62%)
}

.footerButtons {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.footerLeft{
    display: flex;
    flex-direction: column;
}

.footerRight{
    display: flex;
    flex-direction: column;
}
